<div class="classic">
    <div class="flexbox">
        <div class="left" id="preview-photo"></div>
        <div class="right">
            <h3 id="preview-fullname" style="text-transform: capitalize;">Кравченко Даниил Дмитривевич</h3>
            <p class="position"><span>Программист</span></p>
            <p><b>Занятость:</b> <span>Стажировка</span></p>
            <p><b>График работы:</b> <span>Удаленная работа</span></p>
            <p><b>Готовность к командировкам:</b> <span>нет</span></p>
            <p><b>Желаемая зарплата:</b> <span>не указано</span></p>
            <p><b>Телефон:</b> <span>+79778078209</span></p>
            <p><b>Электронная почта:</b> <span>krawchemkodaniil@gmail.com</span></p>
        </div>
    </div>
    <h4 id="preview-personal">Личная информация</h4>
    <div>
        <p><b>Гражданство:</b> <span>Российская Федерация</span></p>
        <p><b>Место проживания:</b> <span>г. Москва</span></p>
        <p><b>Переезд:</b> <span>Невозможен</span></p>
        <p><b>Образование:</b> <span>Высшее неполное</span></p>
        <p><b>Дата рождения:</b> <span>24 ноября 2002 (19 лет)</span></p>
        <p><b>Пол:</b> <span>Мужской</span></p>
        <p><b>Семейное положение:</b> <span>Холост</span></p>
    </div>
    <h4 id="preview-education">Образование</h4>
    <div class="list">
        <div>
            <p><b>Учебное заведение:</b> <span>Финансвовый университет при правительстве Российской Федерации</span></p>
            <p><b>Год окончания:</b> <span>2024 </span></p>
            <p><b>Факультет:</b> <span>Информационные технологии и анализ больших данных</span></p>
            <p><b>Специальность:</b> <span>Прикладная информатика</span></p>
            <p><b>Форма обучения:</b> <span>Очная</span></p>
        </div>
    </div>
    <h4 id="preview-other">Дополнительная информация</h4>
    <div>
        <p><b>Иностранные языки:</b> <span>Английский - B2</span></p>
        <p><b>Компьютерные навыки:</b> <span>Печать, сканирование, копирование документов, Интернет, Электронная почта,
                Microsoft Word, Microsoft Excel, Microsoft Power Point</span></p>
        <p><b>Наличие водительских прав (категории):</b> <span>не указано</span></p>
        <p><b>Ваши занятия в свободное время:</b></p>
        <div class="multiline">
            <p>Игра в баскетбол, программирование</p>
        </div>
        <p><b>Личные качества:</b></p>
        <div class="multiline">
            <p>Отсутствие вредных привычек, энергичность, инициативность, самостоятельность, ответственность,
                коммуникабельность, быстрая обучаемость</p>
        </div>
    </div>
</div>